.card {
  max-width: 225px;
  padding: 8px;
  margin: auto;
  text-align: center;
  height: 400px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.role {
  color: grey;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.org{
  font-size: 12px;
  font-style: italic;
}

.description {
  color: grey;
  font-size: 13px;
  padding: 10px;
}

.BGCredit{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 12px;
}