.HomeContainer{
  padding-top: 140px;
}

.footer{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
}

.AdvSearchIcon{
  padding-right: 16px;
  margin-left: -6px;
}

.AdvSearchText{
  vertical-align: -2px;
}