.HomeContainer{
  padding-top: 140px;
}

.footer{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
}

.AdvSearchIcon{
  padding-right: 16px;
  margin-left: -6px;
  color: black;
}

.AdvPanel{
  opacity: 0.8;
  width: 180px;
  float: right;
  margin-top: -62px;
  box-shadow: none;
  padding: 6.8px;
}