.SuburbContainer{

}

.LeftContainer{
  padding-right: 15px;
}

.GraphLegend{
  
}

.SchoolsContainer{
  padding-top: 20px;
}

.DGContainer{
  padding-top: 20px;
}

.DemographicsInfoContainer{
  margin-top: 20px;
}

.DemographicsGraph{

}

.RightContainer{

}

.MapsContainer{

}

.ParentContainer{
  padding-top: 10px;
  padding-left: 48px;
  padding-right: 48px;
}

.IconMain{
  width: 70px;
  height: 70px;
}

.GMapsMain{
  width: 100%;
  height: 450px;
  padding-bottom: 36px;
  padding-top: 12px;
}

.PieChart{
  width: 80px;
  height: 80px;
}

.NewsMain{
  padding-top: 12px;
}

.IconDef{
  width: 48px;
  height: 48px;
}

.SideText{
  vertical-align: 15px;
  padding-left: 5px;
}

.SchoolsText{
  padding-top: 2px;
  padding-left: 20px;
}

.SchoolsTextSub{
  position: absolute;
  padding-top: 30px;
  padding-left: 68px;
}

.ScrollMenu{
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding: 2px;
}

.MainText{
  vertical-align: 20px;
  padding-left: 14px;
  color: #E62927;
}