.xd-just-a-reference{
  --colMain:#04091E;
  --colMain2:#333F48;
  --colAcc:#E62927;
  --colAcc2:#EE6A15;
  --colPlain:#FFFFFF;
}

/* -> For main content */
.ContentHolderMain{
  padding: 24px;
}

.LogoContainer{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 24px;
  padding-bottom: 0px;
}

.HeadingContainer {
  padding-left : 6px;
}

.HeadingBox {
  padding-top: 24px;
}

.SubHeadingBox {
  padding-top: 4px;
  padding-bottom: 10px;
}

.App-header {
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
