.QuickSearchBox{
    background-image: linear-gradient(to right,#04091E 0%,#04091E 100%);
    background-blend-mode: normal;
    border: 2px solid;
    border-image: linear-gradient(to right,#E62927 0%,#EE6A15 100%) 10 stretch;
    padding: 4px;
    width: 400px;
  }
  
  .QuickSearchIcon{
    padding-top: 4px;
    padding-left: 12px;
  }
  
  .QuickSearch{
    flex-grow: 1;
    width: 350px;
  }
  
  .QuickSearch input{
    color: #FFFFFF;
    padding-right: 12px;
    padding-left: 26px;
  }

  .AutocompleteCard{
    position: absolute;
    color: #FFFFFF;
  }
  