.Loading {
    color:#FFFFFF;
}

.Searchbar{
    width: inherit;
    color: #FFFFFF;
}

.QuickSearchContainer{
    width: 300px;
    background-color: #666666;
    padding-left: 12px;
}

.AutocompleteContainer{
    background-color: #666666;
}

.SearchResultsQuick{
    background-color: #666666;
}
